.faq-banner {
  background-color: $santa-baby-blue;
  height: 155px;
}

.whole-faq {
  margin-bottom: 80px;
  text-align: justify;
}

.faq-section {
  margin: 32px 0;
}

#faq-end {
  margin-bottom: 72px;
}