<div class="container my-5">

  <div class="text-center">
  <% if user_signed_in? %>
    <% if @user == current_user %>
      <h1>Hello, <%= current_user.name.capitalize %> !</h2>
    <% else %>
      <h1>Les voeux de <%= @user.name.capitalize %></h1>
    <% end %>
  <% end %>
  </div>
  
</div>