<%# Is this being used? Not sure... %>
<% if @user == current_user %>
    <h1>Hello, <%= current_user.name.capitalize %> !</h2>
    <%= link_to 'Ajouter un voeu', new_wish_path, class: 'btn btn-primary'%>
<% end %>