<div class="wish-card">
  <%= image_tag wish.category.image %>
  <div class="wish-info">
    <p><strong><%= wish.name %></strong></p>
    <p id="category">Catégorie : <%= wish.category.name %></p>
  </div>
</div>