<div class="faq-banner d-flex justify-content-center align-items-center">
  <h1>Foire aux questions</h1>
</div>

<div class="container mt-5 whole-faq">

  <div class="faq-section" id="general">
    <h2>Généralités</h2>
    <div>
      <p><strong>Qu'est-ce Santa's List ?</strong></p>
      <p>Santa's List est la version numérique de la liste des récipiendaires de cadeaux de Noël pour l'année <%= Time.now.year %>. Maintenant, plus de fichier PDF ni de doigt qui fait la course sur ton écran cellulaire pour retrouver le fameux fichier PDF que Christine a envoyé il y a un mois ! Tout est centralisé ici, et est mis à jour fréquemment.</p>
    </div>
    
    <div>
      <p><strong>À quoi sert Santa's List ?</strong></p>
      <p>
        Santa's List a été pensé dans une perspective d'efficacité, d'économie et de sous-consommation. Le but de ce site web est de rendre la fabrication de cadeaux pour Noël plus plaisant et moins compliqué pour Père Noël.
        <br>
        D'aileurs, les récipiendaires de cadeaux auront leur mot à dire sur ce site web, puisqu'ils peuvent ajouter leur propre liste de souhaits ! Donc, Père Noël pourra leur offrir ce qu'ils désirent réellement !
      </p>
    </div>
  </div>

  <div class="faq-section" id="general">
    <h2>Compte</h2>
    <div>
      <p><strong>Comment puis-je avoir un compte ?</strong></p>
      <p>Pour l'instant, seuls les récipiendaires de cadeaux possèdent un compte. Nous travaillons présentement à implémenter l'option pour tous d'avoir un compte.</p>
    </div>
    
    <div>
      <p><strong>Je suis récipiendaire, mais je ne connais pas mes identifiants. Quoi faire ?</strong></p>
      <p>
        Contact Stéphanie ! Elle se fera un plaisir de t'envoyer ou te renvoyer tes identifiants.
      </p>
    </div>

    <div>
      <p><strong>Que puis-je faire lorsque je suis connecté(e) ?</strong></p>
      <p>
        Si tu es récipiendaire, tu pourras te connecter et mettre à jour ta liste de souhaits pour que Père Noël puisse te donner les cadeaux que tu veux le plus !
      </p>
    </div>
  </div>

  <div class="faq-section" id="wishes">
  <h2>Souhaits</h2>
    <div>
      <p><strong>Qu'est-ce qu'un souhait ?</strong></p>
      <p>Un souhait est ce qu'un enfant souhaiterait recevoir de la part de Père Noël. Chaque enfant possède un compte, et peut mettre à jour sa liste de souhaits en tout temps, et peut même positionner son souhait par rapport au cadeau qu'il désire le plus recevoir. </p>
    </div>
  <% if user_signed_in? %>
    <div>
      <p><strong>Ai-je une limite de souhaits ?</strong></p>
      <p>La limite de souhaits a été établie à 20 souhaits par enfant. Si tu souhaite en rajotuer plus, contacte Stéphanie !</p>
    </div>

    <div>
      <p><strong>Qu'est-ce qu'une <em>position du souhait</em> ?</strong></p>
      <p>Une position du souhait te permet de placer chaque souhait de ta liste dans l'ordre que tu veux, pour que Père Noël et ses lutins puissent savoir ce que tu veux le plus ! <br> <strong>Note</strong> : Si tu laisses le Père Noël du glisseur à la position 0, le souhait n'aura pas de position, mais sera tout de même enregistré. </p>
    </div>

    <div>
      <p><strong>Je n'ai pas d'idée pour mon souhait...</strong></p>
      <p>
        Tu peux mettre n'importe quoi ! Penses à ce que tu as toujours voulu. Qu'est-ce que c'est ? <br>
        Voici les catégories dans lesquelles tu peux ajouter des souhaits: 
        <% @categories.each do |category| %>
          <% if category == "Autres" %>
            et <%= category %>.
          <% else %>
            <%= category %>,
          <% end %>
        <% end %><br>
        Voici quelques idées : carte-cadeau, toutou, chandail, bonbons, crayons de couleur, cahier de note, un roman particulier, un abonnement pour un service quelconque, etc.
      </p>
    </div>
  <% end %>
  </div>

  <h2>Père Noël</h2>
    <div>
      <p><strong>Où vit Père Noël ?</strong></p>
      <p>Père Noël vit au Pôle Nord avec Mère Noël et leurs lutins. Son adresse est <strong>Père Noël, Pôle Nord, H0H 0H0, Canada</strong>. Si tu souhaites lui écrire une lettre directement, n'hésites surtout pas ! Ses lutins se feront un plaisir de te répondre.</p>
    </div>
  </div>

  <div class="d-flex justify-content-center" id="faq-end">
    <p><strong>-- Fin du FAQ --</strong></p>
  </div>
</div>