.btn-santa {
  border-radius: 32px;
  background-color: $santa-red;
  color: white;
  transition: 0.3s;
  &:hover {
    background-color: $light-santa-red;
  }
}

#plus-wish, #go-back {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

#go-back {
  position: absolute;
  top: 10px;
  left: 15px;
}