.form-banner {
  height: 155px;
  background-color: $santa-baby-blue;
  position: sticky;
  top: 0px;
  z-index: 1000;
  margin-bottom: 32px;
  img {
    height: 100px
  }
}

.form-control {
  border-radius: 16px;
}

.form-actions {
  width: 300px;
}

#faq {
  margin: 64px 0;
}

.faq-wish {
  margin: 32px 0;
  text-align: justify;
}