.santa-navbar {
  background: #e86478;

  position: fixed;
  z-index: 1;
  bottom: 0;

  width: 100vw;
  height: 8vh;
  padding: 8px 0;
  svg {
    height: 30px;
  }
  img {
    height: 30px;
  }
}

#logo {
  background: white;

  position: fixed;
  z-index: 1;
  top: 0;
  
  width: 100vw;
  height: 8vh;
  padding: 16px 0 8px 0;

  h1 {
    color: #e86478;
  }
  img {
  height: 50px;
  }
}