.santa-navbar {
  background: white;
  box-shadow: 0.1px 20px 50px rgba(0, 0, 0, 0.2);

  position: fixed;
  z-index: 1;
  bottom: -1px;

  width: 100vw;
  height: 35px;
  padding: 8px 50px;
  svg {
    height: 30px;
  }
  img {
    height: 30px;
  }
}

#logo {
  background: white;

  position: fixed;
  z-index: 1;
  top: 0;
  
  width: 100vw;
  height: 8vh;
  padding: 25px 0 8px 0;

  h1 {
    color: $santa-red;
  }
  img {
  height: 50px;
  }
}